# Configuration file for automatic testing at travis-ci.org

# Configure notifications
notifications:
  email:
    on_success: never
    on_failure: never

# Configure supported Python versions
language: python
python:
  - 3.4
  - 3.5
  - 3.6

matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

# Command to install dependencies, e.g. pip install -r requirements.txt
# --use-mirrors
install:
  - pip install -U tox-travis
  - pip install -r requirements.txt

# Command to run tests, e.g. python setup.py test
script: tox

# We only want to build with Travis when pushing to master or PR:
# https://stackoverflow.com/questions/31882306/how-to-configure-travis-ci-to-
# build-pull-requests-merges-to-master-w-o-redunda/31882307#31882307
branches:
  only:
    - master
